Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

Ans

In [1]:
string = "Saksham"

In [2]:
list = [1,2,3,4,5]

In [3]:
float = 4521.2154

In [4]:
tuple = (10,20,30,40,50)

Q2.Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

Ans (i)

In [5]:
var1 = ' '

In [6]:
type(var1)

str

Ans (ii)

In [7]:
var2 = '[ DS , ML , Python]'

In [8]:
type(var2)

str

Ans (iii)

In [9]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [10]:
type(var3)

list

Ans (iv)

In [11]:
var4 = 1.

In [12]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

Ans(i)

In [13]:
a = 25
b = 4
result = a / b
print(result)

6.25

Ans(ii)

In [14]:
a = 88
b = 5
remainder = a % b
print(remainder)

3

Ans(iii)

In [15]:
a = 75
b = 4
result = a // b
print(result)

18

Ans(iv)

In [16]:
a = 5
b = 6
result = a ** b
print(result)

15625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
l= [1,2,'Saksham' , "Tanuu" , True , 254.552 , 4+7j ,[1,2,3,4] , (10,20,30,40) , None ]
for S in l :
    print(f"S: {S} | Data Type: {type(S).__name__}")

S: 1 | Data Type: int
S: 2 | Data Type: int
S: Saksham | Data Type: str
S: Tanuu | Data Type: str
S: True | Data Type: bool
S: 254.552 | Data Type: float
S: (4+7j) | Data Type: complex
S: [1, 2, 3, 4] | Data Type: list
S: (10, 20, 30, 40) | Data Type: tuple
S: None | Data Type: NoneType

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Ans

In [18]:
a = int(input("Value of a: "))
b = int(input("Value of b: "))
count = 0
if b != 0 and a >= b :
    while a >= b:
        a -= b
        count += 1
if count > 0 :
    print(f"{a} is purely divisible by {b} and can be divided {count} times.")
else:
    print(f"{a} is not purely divisible by {b}.")

Value of a:  25
Value of b:  3

1 is purely divisible by 3 and can be divided 8 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Ans

In [19]:
list = [25, 8, 9, 12, 21, 37, 4, 28, 15, 10, 13, 44, 42, 19, 457, 68, 72, 32, 14, 25, 17, 49, 62, 3, 11]
for num in list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

25 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
21 is divisible by 3.
37 is not divisible by 3.
4 is not divisible by 3.
28 is not divisible by 3.
15 is divisible by 3.
10 is not divisible by 3.
13 is not divisible by 3.
44 is not divisible by 3.
42 is divisible by 3.
19 is not divisible by 3.
457 is not divisible by 3.
68 is not divisible by 3.
72 is divisible by 3.
32 is not divisible by 3.
14 is not divisible by 3.
25 is not divisible by 3.
17 is not divisible by 3.
49 is not divisible by 3.
62 is not divisible by 3.
3 is divisible by 3.
11 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:- Mutable and immutable are properties of data types in programming languages like Python. They refer to whether the values of an object can be changed after it is created.

Mutable Data Type :- Mutable data types are those whose values can be changed or modified after they are created. This means you can add, remove, or modify elements in a mutable object without creating a new object. Lists, dictionaries, and sets are examples of mutable data types in Python.

Example of a mutable data type

* List ("l")

In [20]:
l = [25,45,56,40,12,230,30]

In [21]:
l

[25, 45, 56, 40, 12, 230, 30]

In [22]:
# Modify the list by changing the second element
l[1] = 4000

In [23]:
l

[25, 4000, 56, 40, 12, 230, 30]

In [24]:
# Add a new element to the list
l.append(560)

In [25]:
l

[25, 4000, 56, 40, 12, 230, 30, 560]

* Dictionary ("d")

In [26]:
d = {"Saksham": "jain", "phone": 8269615365}

In [27]:
d["phone"] = 7067564099

In [28]:
d

{'Saksham': 'jain', 'phone': 7067564099}

In [29]:
#Modifies the value associated with the key "phone" in the existing dictionary.

* Set ("s")

In [30]:
s = {1,2,3,5,6,4}

In [31]:
# Modifies the existing set by adding 10 to it.

In [32]:
s.add(10)

In [33]:
s

{1, 2, 3, 4, 5, 6, 10}

In [34]:
# Modifies the existing set by removing the element 4 from it.

In [35]:
s.remove(4)

In [36]:
s

{1, 2, 3, 5, 6, 10}

Immutable Data Type :- Immutable data types are those whose values cannot be changed after they are created. Once an object of an immutable data type is created, its content cannot be modified. Strings, tuples, and frozensets are examples of immutable data types in Python.

Examples of immutable data types

* Integers ("int")

In [37]:
a = 20

In [38]:
# Attempt to modify the Integer (will result in an error)

In [39]:
a[20] = 36

TypeError: 'int' object does not support item assignment

In [40]:
# This will raise a TypeError: 'int' object does not support item assignment

* Tuple ("t")

In [41]:
t = (10,8,66,4,33,41,74)

In [42]:
# Attempt to modify the tuple (will result in an error)

In [43]:
t[66] = 84

TypeError: 'tuple' object does not support item assignment

In [44]:
# This will raise a TypeError: 'tuple' object does not support item assignment

* String ("str")

In [45]:
a = "Saksham"

In [46]:
# Attempt to modify the tuple (will result in an error)

In [47]:
a["Saksham"] = "Jain"

TypeError: 'str' object does not support item assignment

In [48]:
# This will raise a TypeError: 'String' object does not support item assignment